.login {
  position: absolute;
  height: calc(100vh - 80px);
  width: 100vw;
  background: #b6b6c0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.form__text {
  height: 60px;
  outline: none;
  border: 1px white solid;
  padding: 10px;
  border-radius: 3px;
  background: transparent;
  color: white;
  font-size: 15px;
  font-weight: 200;
  margin-top: 15px;
  text-transform: uppercase;
}

.form__text::placeholder {
  font-size: 12px;
  font-weight: lighter;
  width: 200px;
  color: white;
}

.form__submit {
  cursor: pointer;
  width: 400px;
  height: 60px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);

  margin-top: 30px;
  background: white;
  font-size: 16px;
  padding: 8px;
  transition: all 0.3s ease-out;
}

.form__submit:hover {
  background: rgba(255, 255, 255, 0.8);
}

.btn--darkoutline {
  margin-left: -1px;
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 8px 20px;
  border: 1px solid black;
  transition: all 0.6s ease-out;
}
.btn--darkoutline:hover {
  background: black;
  color: white;
}
